.mainContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    background-color: #FFFFFF;
    padding-right: 75px;
    padding-left: 75px;
}

.searchContainer {
    background-color: var(--neutralBlue);
    background-image: url(../images/bg-shorten-desktop.svg);
    background-repeat: round;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 90%;
    width: 100%;
    min-height: 125px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    top: 60px;
}

.infoContainer {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
}

.title {
    font-size: 4.75rem;
    line-height: 5.5rem;
}

.text {
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: var(--strongFontWeight);
}

.logoContainer {
    width: 50%;
}

.logo {
    margin-left: 25px;
    max-width: none;
    flex-shrink: 1;
    flex-grow: 1;
}

.boostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: var(--neutralBlue);
    background-image: url(../images/bg-boost-desktop.svg);
    background-repeat: round;
}

.boostTitle {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
}

.dashboardContainer {
    background-color: var(--lightGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.dashboardInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.dashboardSquaresContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.dashboardSquareContainer {
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
}

.dashboardSquareContainer.alignment2 {
    position: relative;
    top: 25px;
}

.dashboardSquareContainer.alignment3 {
    position: relative;
    top: 50px;
}

.dashboardSquareTitle {
    color: var(--neutralBlue);
    margin-bottom: 15px;
}

.dashboardSquareText {
    color: var(--grey);
    font-size: 1rem;
}

.dashboardSquareLogo {
    height: 75px;
    width: 75px;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutralBlue);
    position: relative;
    bottom: 40px;
    left: 100px;
    margin-bottom: 10px;
}

.dashboardSquareLogo.logoAlignment2 {
    position: relative;
    bottom: 15px;
}

.dashboardSquareLogo.logoAlignment3 {
    position: relative;
    bottom: -10px;
}

@media (max-width: 650px) and (min-width: 320px) {
    .mainContainer {
        flex-wrap: wrap-reverse;
    }

    .infoContainer {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 12vw;
        line-height: 15vw;
    }

    .text {
        margin-right: 0px;
    }

    .searchContainer {
        width: 80%;
        background-repeat: initial;
    }

    .logoContainer {
        width: auto;
        margin-bottom: 10px;
    }

    .logo {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .boostContainer {
        padding-top: 50px;
        padding-bottom: 50px;
        background-repeat: initial;
    }

    .dashboardInfoContainer {
        padding-top: 100px;
    }
}