.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    align-self: center;
}

main {
    width: 100%;
    min-height: 200px;
    max-height: 80vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 30px;
    padding-right: 75px;
    padding-left: 75px;
}